# Игнорировать файл окружения
.env

# Игнорировать виртуальное окружение
venv/

# Игнорировать базу данных SQLite
db.sqlite3

# Игнорировать файлы, созданные операционной системой
app/__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы, созданные редакторами и IDE
.vscode/
.idea/
*.swp
*.swo

# Игнорировать файлы логов
*.log

# Игнорировать файлы, созданные инструментами сборки
build/
dist/
*.egg-info/